examples/__pycache__
examples/mcml/__pycache__
examples/mccyl
examples/mcvox/__pycache__
examples/pf/__pycache__

xopto/__pycache__

xopto/bin
!xopto/bin/.gitkeep

xopto/cl/__pycache__
xopto/cl/kernel/__pycache__

xopto/data/__pycache__
xopto/data/primes/__pycache__
xopto/data/mcml/__pycache__
xopto/data/mcvox/__pycache__

xopto/dataset/__pycache__
xopto/dataset/run
xopto/dataset/data
xopto/dataset/template/__pycache__
xopto/dataset/template/mcml/__pycache__
xopto/dataset/template/mcvox/__pycache__
xopto/dataset/template/sv/__pycache__
xopto/dataset/render/__pycache__
xopto/dataset/validation/__pycache__

xopto/diffusion/__pycache__

xopto/materials/__pycache__
xopto/materials/absorption/__pycache__
xopto/materials/density/__pycache__
xopto/materials/ri/__pycache__
xopto/materials/ri/glass/__pycache__
xopto/materials/ri/util/__pycache__
xopto/materials/ri/util/model/__pycache__

xopto/mcbase/__pycache__
xopto/mcbase/kernel/__pycache__
xopto/mcbase/mcpf/__pycache__
xopto/mcbase/mcutil/__pycache__
xopto/mcbase/mcfluence/__pycache__

xopto/mcml/__pycache__
xopto/mcml/cltypes/__pycache__
xopto/mcml/kernel/__pycache__
xopto/mcml/mcdetector/__pycache__
xopto/mcml/mcdetector/probe/__pycache__
xopto/mcml/mcfluence/__pycache__
xopto/mcml/mclayer/__pycache__
xopto/mcml/mcobject/__pycache__
xopto/mcml/mcoptions/__pycache__
xopto/mcml/mcpf/__pycache__
xopto/mcml/mcrun/__pycache__
xopto/mcml/mcsource/__pycache__
xopto/mcml/mcsurface/__pycache__
xopto/mcml/mcsurface/probe/__pycache__
xopto/mcml/mcsv/__pycache__
xopto/mcml/mctrace/__pycache__
xopto/mcml/mctypes/__pycache__
xopto/mcml/mcutil/__pycache__
xopto/mcml/test/__pycache__
xopto/mcml/test/reference/__pycache__
xopto/mcml/test/reference/old_format

xopto/mcvox/__pycache__
xopto/mcvox/cltypes/__pycache__
xopto/mcvox/kernel/__pycache__
xopto/mcvox/mcdetector/__pycache__
xopto/mcvox/mcdetector/probe/__pycache__
xopto/mcvox/mcfluence/__pycache__
xopto/mcvox/mcmaterial/__pycache__
xopto/mcvox/mcgeometry/__pycache__
xopto/mcvox/mcobject/__pycache__
xopto/mcvox/mcoptions/__pycache__
xopto/mcvox/mcpf/__pycache__
xopto/mcvox/mcrun/__pycache__
xopto/mcvox/mcsource/__pycache__
xopto/mcvox/mcsurface/__pycache__
xopto/mcvox/mcsurface/probe/__pycache__
xopto/mcvox/mcsv/__pycache__
xopto/mcvox/mctrace/__pycache__
xopto/mcvox/mctypes/__pycache__
xopto/mcvox/mcutil/__pycache__
xopto/mcvox/test/__pycache__
xopto/mcvox/test/reference/__pycache__
xopto/mcvox/test/reference/old_format
xopto/mcvox/types/__pycache__

xopto/pf/__pycache__
xopto/pf/util/__pycache__

xopto/src/__pycache__
xopto/src/rng/__pycache__

xopto/test/__pycache__
xopto/test/mcml/__pycache__
xopto/test/mcvox/__pycache__

xopto/tmp
!xopto/tmp/.gitkeep

xopto/util/__pycache__
xopto/util/animation/__pycache__
xopto/util/animation/sv/__pycache__
xopto/util/animation/sv/fiber/__pycache__
xopto/util/animation/tr/__pycache__

xopto/util/widgets
xopto/util/widgets/__pycache__

build
dist
datasets
mcdataset
xopto.egg-info
pyxopto.egg-info
PyXOpto.egg-info
maintenance
tmp

doc
docs/source/mccyl
docs/source/images/examples/mccyl
docs/build
docs/_build
docs/apidoc
docs/__pycache__

xopto/mccyl

.vscode
.pypirc
